/* App.css */

.game {
    text-align: center;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1px auto;
}

.board-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cell-container {
    margin: 1px;
}

.cell {
    width: 40px;
    height: 40px;
    min-width: 40px !important;
    font-size: 2rem !important;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.o-button {
  color: #eee845 !important;
}
.x-button {
  color: #7bbcff !important;
}

.cell:hover {
    background-color: #f0f0f0;
}
